.carousel-description {
    font-size: 12px;
    padding:20px;
    background-color: blanchedalmond;
}
/* .carousel-control-next {
    right:-15% !important;
}
.carousel-control-prev{
    left: -15% !important;
} */

.carousel {
    width:400px;
    height:300px;
    margin: auto;
  }